<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
	<h1>Пользователь  <%= name%></h1>
	<p>известен как <%= role%></p>	
</body>
